language: scala
scala:
  - 2.13.4
jdk:
  - openjdk11
script:
  - sbt +clean scalafmt::test test:scalafmt::test sbt:scalafmt::test coverage +compile +test:compile +test coverageReport &&
    sbt coverageAggregate
after_success:
  - bash <(curl -s https://codecov.io/bash)
