language: scala
scala:
  - 2.11.11
jdk:
  - openjdk8
script:
  - sbt +clean scalafmt::test test:scalafmt::test sbt:scalafmt::test coverage +compile +test:compile +test coverageReport &&
    sbt coverageAggregate
after_success:
  - bash <(curl -s https://codecov.io/bash)
